@model SadDirector.Models.Lists.StudyClassListModel
<header>
        <h1>Учебные классы</h1>
    </header>
    <div class="card">
        <div class="container">
            <div class="accordion mt-5" id="ClassesAccordion">
                @{
                    foreach (var studyClass in Model.StudyClasses)
                    {
                        <div class="accordion-item" id="class-@studyClass.StudyClassId">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#class-info-@studyClass.StudyClassId" aria-expanded="false" aria-controls="class-info-@studyClass.StudyClassId">
                                    @studyClass.StudyClassName
                                </button>
                            </h2>
                            <div id="class-info-@studyClass.StudyClassId" class="accordion-collapse collapse" aria-labelledby="class-@studyClass.StudyClassId" data-bs-parent="#ClassesAccordion">
                                <div class="accordion-body">
                                    <table class="plan-table class-info-table">
                                        <tr>
                                            <th>Количество учеников</th>
                                            <th>Учебный предмет</th>
                                            <th>Читающий преподаватель</th>
                                            <th>Количество часов</th>
                                            <th>Количество часов по плану</th>
                                            <th>Нераспределенный остаток</th>
                                            <th>Изменить</th>
                                        </tr>
                                        <tr>
                                            <th scope="col" colspan="7">Обязательная часть</th>
                                        </tr>
                                        @{
                                            int separatedSubjectsCount = studyClass.StudyClassRequiredSubjects.Where(s => s.IsSeparated).ToList().Count;
                                            for (int i = 0; i < studyClass.StudyClassRequiredSubjects.Count; i++)
                                            {
                                                var subject=studyClass.StudyClassRequiredSubjects[i];
                                                var rowspan = subject.IsSeparated ? 2 : 1;
                                                <tr>
                                                    @if (i == 0)
                                                    {
                                                        <td rowspan="@(studyClass.StudyClassRequiredSubjects.Count+separatedSubjectsCount)">
                                                            <p class="required-current-student-count" id="required-current-student-count-@studyClass.StudyClassId">@studyClass.StudentCount</p>
                                                            <input type="number" min="0" value="@studyClass.StudentCount" class="form-control required-study-class-student-count-@studyClass.StudyClassId hide" id="required-input-student-count-@studyClass.StudyClassId">
                                                        </td>
                                                    }
                                                    <td rowspan="@rowspan">@subject.SubjectName</td>
                                                    <td class="class-teacher-cell">
                                                        <p class="required-subject-@subject.SubjectId" id="required-subject-class-@subject.SubjectId-@studyClass.StudyClassId-p1">@subject.TeacherName</p>
                                                        <select type="text" class="form-select required-subject-input-@subject.SubjectId hide" id="input-required-subject-class-@subject.SubjectId-@studyClass.StudyClassId-p1">
                                                            @{
                                                                foreach (var teacher in subject.AvailableTeachers)
                                                                {
                                                                    string isSelected = teacher.Selected ? "selected" : "";
                                                                    @:<option value="@teacher.Value" @isSelected>@teacher.Text</option>
                                                                }
                                                            }
                                                        </select>
                                                    </td>
                                                    <td class="class-subject-hours-cell">
                                                        <p class="required-subject-@subject.SubjectId" id="required-subject-hours-@subject.SubjectId-@studyClass.StudyClassId-p1">@subject.CurrentHours</p>
                                                        <input type="number" min="0" max="@subject.PlanHours" value="@subject.CurrentHours" class="form-control required-subject-input-@subject.SubjectId hide" id="input-required-subject-hours-@subject.SubjectId-@studyClass.StudyClassId-p1">
                                                    </td>
                                                    <th id="required-plan-hours-subject-class-@subject.SubjectId-@studyClass.StudyClassId">@subject.PlanHours</th>
                                                    <th>@(subject.PlanHours-subject.CurrentHours)</th>
                                                    <td class="class-info-buttons-cell" rowspan="@rowspan">
                                                        <button class="btn btn-outline-secondary" id="edit-required-subject-@subject.SubjectId-@studyClass.StudyClassId" onclick="editClassSubjectHours('@subject.SubjectId','@studyClass.StudyClassId', true)"><i class="fa-solid fa-pencil"></i>Изменить</button>
                                                        <button class="btn btn-outline-success hide" id="save-required-subject-@subject.SubjectId-@studyClass.StudyClassId" onclick="saveClassSubjectHours('@subject.SubjectId','@studyClass.StudyClassId', true)"><i class="fa-regular fa-floppy-disk"></i> Сохранить</button>
                                                        <button class="btn btn-outline-danger hide" id="cancel-required-subject-@subject.SubjectId-@studyClass.StudyClassId" onclick="cancelClassSubjectHours('@subject.SubjectId','@studyClass.StudyClassId', true)"><i class="fa-solid fa-xmark"></i> Отменить</button>
                                                    </td>
                                                </tr>
                                                {
                                                    if (subject.IsSeparated)
                                                    {
                                                        <tr>
                                                            <td class="class-teacher-cell">
                                                                <p class="required-subject-@subject.SubjectId"
                                                                   id="required-subject-class-@subject.SubjectId-@studyClass.StudyClassId-p2">@subject.TeacherName</p>
                                                                <select type="text"
                                                                        class="form-select required-subject-input-@subject.SubjectId hide"
                                                                        id="input-required-subject-class-@subject.SubjectId-@studyClass.StudyClassId-p2">
                                                                    @{
                                                                        foreach (var teacher in subject.AvailableTeachers)
                                                                        {
                                                                            string isSelected = teacher.Selected ? "selected" : "";
                                                                            @:<option value="@teacher.Value"@isSelected>@teacher.Text</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </td>
                                                            <td class="class-subject-hours-cell">
                                                                <p class="required-subject-@subject.SubjectId"
                                                                   id="required-subject-hours-@subject.SubjectId-@studyClass.StudyClassId-p2">@subject.CurrentHoursSecondary</p>
                                                                <input type="number" min="0" max="@subject.PlanHours"
                                                                       value="@subject.CurrentHoursSecondary"
                                                                       class="form-control required-subject-input-@subject.SubjectId hide"
                                                                       id="input-required-subject-hours-@subject.SubjectId-@studyClass.StudyClassId-p2">
                                                            </td>
                                                            <th>@subject.PlanHours</th>
                                                            <th>@(subject.PlanHours - subject.CurrentHoursSecondary)</th>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        }
                                        <tr>
                                            <th scope="col" colspan="7">Формируемая часть</th><!--Динамический расчет количества колонок-->
                                        </tr>
                                        @{
                                            separatedSubjectsCount = studyClass.StudyClassFormedSubjects.Where(s => s.IsSeparated).ToList().Count;
                                            for (int i = 0; i < studyClass.StudyClassFormedSubjects.Count; i++)
                                            {
                                                var subject = studyClass.StudyClassFormedSubjects[i];
                                                var rowspan = subject.IsSeparated ? 2 : 1;
                                                <tr>
                                                    @if (i==0)
                                                    {
                                                        <td rowspan="@(studyClass.StudyClassFormedSubjects.Count+separatedSubjectsCount)">
                                                            <p class="formed-current-student-count" id="formed-current-student-count-@studyClass.StudyClassId">@studyClass.StudentCount</p>
                                                            <input type="number" min="0" value="@studyClass.StudentCount" class="form-control formed-study-class-student-count-@studyClass.StudyClassId hide" id="formed-input-student-count-@studyClass.StudyClassId">
                                                        </td>
                                                    }
                                                    <td rowspan="@rowspan">@subject.SubjectName</td>
                                                    <td class="class-teacher-cell">
                                                        <p class="formed-subject-@subject.SubjectId" id="formed-subject-class-@subject.SubjectId-@studyClass.StudyClassId">@subject.TeacherName</p>
                                                        <select type="text" class="form-select formed-subject-input-@subject.SubjectId hide" id="input-formed-subject-class-@subject.SubjectId-@studyClass.StudyClassId-p1">
                                                            @{
                                                                foreach (var teacher in subject.AvailableTeachers)
                                                                {
                                                                    string isSelected = teacher.Selected ? "selected" : "";
                                                                    @:<option value="@teacher.Value" @isSelected>@teacher.Text</option>
                                                                }
                                                            }
                                                        </select>
                                                    </td>
                                                    <td class="class-subject-hours-cell">
                                                        <p class="formed-subject-@subject.SubjectId" id="formed-subject-hours-@subject.SubjectId-@studyClass.StudyClassId-p1">@subject.CurrentHours</p>
                                                        <input type="number" min="0" max="@subject.PlanHours" value="@subject.CurrentHours" class="form-control formed-subject-input-@subject.SubjectId hide" id="input-formed-subject-hours-@subject.SubjectId-@studyClass.StudyClassId-p1">
                                                    </td>
                                                    <th id="formed-plan-hours-subject-class-@subject.SubjectId-@studyClass.StudyClassId">@subject.PlanHours</th>
                                                    <th>@(subject.PlanHours-subject.CurrentHours)</th>
                                                    <td class="class-info-buttons-cell" rowspan="@rowspan">
                                                        <button class="btn btn-outline-secondary" id="edit-formed-subject-@subject.SubjectId-@studyClass.StudyClassId" onclick="editClassSubjectHours('@subject.SubjectId','@studyClass.StudyClassId', false)"><i class="fa-solid fa-pencil"></i>Изменить</button>
                                                        <button class="btn btn-outline-success hide" id="save-formed-subject-@subject.SubjectId-@studyClass.StudyClassId" onclick="saveClassSubjectHours('@subject.SubjectId','@studyClass.StudyClassId', false)"><i class="fa-regular fa-floppy-disk"></i> Сохранить</button>
                                                        <button class="btn btn-outline-danger hide" id="cancel-formed-subject-@subject.SubjectId-@studyClass.StudyClassId" onclick="cancelClassSubjectHours('@subject.SubjectId','@studyClass.StudyClassId', false)"><i class="fa-solid fa-xmark"></i> Отменить</button>
                                                    </td>
                                                </tr>
                                                {
                                                    if (subject.IsSeparated)
                                                    {
                                                        <tr>
                                                            <td class="class-teacher-cell">
                                                                <p class="formed-subject-@subject.SubjectId"
                                                                   id="formed-subject-class-@subject.SubjectId-@studyClass.StudyClassId-p2">@subject.TeacherName</p>
                                                                <select type="text"
                                                                        class="form-select formed-subject-input-@subject.SubjectId hide"
                                                                        id="input-formed-subject-class-@subject.SubjectId-@studyClass.StudyClassId-p2">
                                                                    @{
                                                                        foreach (var teacher in subject.AvailableTeachers)
                                                                        {
                                                                            string isSelected = teacher.Selected ? "selected" : "";
                                                                            @:<option value="@teacher.Value"@isSelected>@teacher.Text</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </td>
                                                            <td class="class-subject-hours-cell">
                                                                <p class="formed-subject-@subject.SubjectId"
                                                                   id="formed-subject-hours-@subject.SubjectId-@studyClass.StudyClassId-p2">@subject.CurrentHoursSecondary</p>
                                                                <input type="number" min="0" max="@subject.PlanHours"
                                                                       value="@subject.CurrentHoursSecondary"
                                                                       class="form-control formed-subject-input-@subject.SubjectId hide"
                                                                       id="input-formed-subject-hours-@subject.SubjectId-@studyClass.StudyClassId-p2">
                                                            </td>
                                                            <th>@subject.PlanHours</th>
                                                            <th>@(subject.PlanHours - subject.CurrentHoursSecondary)</th>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        }
                                    </table>

                                    <h3>Внеурочная деятельность</h3>
                                    <table class="plan-table class-info-table class-extra-table mt-3">
                                    <tr>
                                        <th>Название программы</th>
                                        <th>Читающий преподаватель</th>
                                        <th>Количество часов</th>
                                        <th>Количество часов по плану</th>
                                        <th>Нераспределенный остаток</th>
                                        <th>Изменить</th>
                                    </tr>
                                    @{
                                        foreach (var extraSubject in studyClass.StudyClassExtraSubjects)
                                        {
                                            <tr>
                                                <td>@extraSubject.SubjectName</td>
                                                <td class="class-teacher-cell">
                                                    <p class="extra-subject-@extraSubject.SubjectId" id="extra-subject-class-@extraSubject.SubjectId-@studyClass.StudyClassId">@extraSubject.TeacherName</p>
                                                    <select type="text" class="form-select extra-subject-input-@extraSubject.SubjectId hide" id="input-extra-subject-class-@extraSubject.SubjectId-@studyClass.StudyClassId">
                                                        @{
                                                            foreach (var teacher in extraSubject.AvailableTeachers)
                                                            {
                                                                string isSelected = teacher.Selected ? "selected" : "";
                                                                @:<option value="@teacher.Value" @isSelected>@teacher.Text</option>
                                                            }
                                                        }
                                                    </select>
                                                </td>
                                                <td class="class-subject-hours-cell">
                                                    <p class="extra-subject-@extraSubject.SubjectId" id="extra-subject-hours-@extraSubject.SubjectId-@studyClass.StudyClassId">@extraSubject.CurrentHours</p>
                                                    <input type="number" min="0" max="@extraSubject.PlanHours" value="@extraSubject.CurrentHours" class="form-control extra-subject-input-@extraSubject.SubjectId hide" id="input-extra-subject-hours-@extraSubject.SubjectId-@studyClass.StudyClassId">
                                                </td>
                                                <th id="extra-plan-hours-subject-class-@extraSubject.SubjectId-@studyClass.StudyClassId">@extraSubject.PlanHours</th>
                                                <th>@(extraSubject.PlanHours-extraSubject.CurrentHours)</th>
                                                <td class="class-info-buttons-cell">
                                                    <button class="btn btn-outline-secondary" id="edit-extra-subject-@extraSubject.SubjectId-@studyClass.StudyClassId" onclick="editClassExtraSubjectHours('@extraSubject.SubjectId','@studyClass.StudyClassId')"><i class="fa-solid fa-pencil"></i>Изменить</button>
                                                    <button class="btn btn-outline-success hide" id="save-extra-subject-@extraSubject.SubjectId-@studyClass.StudyClassId" onclick="saveClassSubjectHours('@extraSubject.SubjectId','@studyClass.StudyClassId',false,true)"><i class="fa-regular fa-floppy-disk"></i> Сохранить</button>
                                                    <button class="btn btn-outline-danger hide" id="cancel-extra-subject-@extraSubject.SubjectId-@studyClass.StudyClassId" onclick="cancelClassExtraSubjectHours('@extraSubject.SubjectId','@studyClass.StudyClassId')"><i class="fa-solid fa-xmark"></i> Отменить</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="add-button">
                <a asp-action="CreateOrUpdateTariff" asp-route-tariffId="@Model.TariffId" class="btn btn-outline-danger"><i class="fa-solid fa-arrow-left"></i> Назад</a>
            </div>
        </div>
    </div>